<nav class="navbar navbar-light bg-light justify-content-between p-2">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline" {{ stimulus_controller('autocomplete', {
        'url': path('foot_search'),
        'min-length': 3,
    }) }}>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" {{ stimulus_target('autocomplete', 'input') }}>
        <input type="hidden" name="bird_id" {{ stimulus_target('autocomplete', 'hidden') }} />
        <ul class="list-group" {{ stimulus_target('autocomplete', 'results') }} ></ul>
    </form>
</nav>
